<div class="home w-full h-screen relative px-32 mb-40">
    <img class="circle circle__small z-1" src="/img/circles/Circle Small.svg" alt="">
    <img class="circle circle__big z-1" src="/img/circles/Circle Big1.svg" alt="">
    <div class="absolute top-1/3 left-32" id="hero__text">
        <h3 class="font-medium text-xl mb-3">Are you hungry?</h1>
            <h1 class="font-medium text-7xl">Don't <span>Wait!</span></h1>
            <div class="flex items-center mt-12">
                <a class="btn mr-4 hover:shadow-xl" href="#">Order Now</a>
                <a class="btn_ghost hover:shadow-xl" href="#">View More</a>
            </div>
    </div>
    <img class="object-contain absolute top-1/4 right-32 max-w-xl" src="/img/eating_together.svg" alt="hero-image">
    <div class="absolute bottom-4 left-0 right-0 flex items-center justify-center">
        <a href="#">
            <img  class="object-contain animate-bounce w-32" src="img/icons/Arrow Down.svg" alt="">
        </a>
    </div>
</div>
<section class="flex items-center">
    <div class="flex-1 flex items-center justify-evenly text-center">
        <div class="info__item space-y-1">
            <img class="w-10 object-contain mx-auto mb-5" src="/img/icons/clock.svg" alt="">
            <h3 class="font-semibold">Today 10am - 7pm</h3>
            <h4>Working Hours</h4>
        </div>
        <div class="info__item space-y-1">
            <img class="w-10 object-contain mx-auto mb-5" src="/img/icons/pin.svg" alt="">
            <h3 class="font-semibold">Roorkee,Uttrakhand</h3>
            <h4>Get Directions</h4>
        </div>
        <div class="info__item space-y-1">
            <img class="w-10 object-contain mx-auto mb-5" src="/img/icons/phone-call.svg" alt="">
            <h3 class="font-semibold">+91 7345679834</h3>
            <h4>Call Now</h4>
        </div>

    </div>
</section>
<section id="about">
    <h2 class="heading">Get Food Fast - Not Fast Food</h1>
        <p class="mt-12 max-w-3xl mx-auto text-center">Hello, we're Zinger, your new food ordering option and
            restaurant. We know you're always busy.
            No time for cooking. So let us take care of that, we're really good at it, we promise!</p>
</section>

<div class="food__gallery">
    <div class="flex food__items">
        <div>
            <img src="/img/food gallery/1.jpg" alt="">
        </div>
        <div>
            <img src="/img/food gallery/2.jpg" alt="">
        </div>
        <div>
            <img src="/img/food gallery/3.jpg" alt="">
        </div>
        <div>
            <img src="/img/food gallery/4.jpg" alt="">
        </div>
    </div>
    <div class="flex food__items">
        <div>
            <img src="/img/food gallery/5.jpg" alt="">
        </div>
        <div>
            <img src="/img/food gallery/6.jpg" alt="">
        </div>
        <div>
            <img src="/img/food gallery/7.jpg" alt="">
        </div>
        <div>
            <img src="/img/food gallery/8.jpg" alt="">
        </div>
    </div>
</div>
<section>
    <h2 class="heading">How It Works</h2>
    <div class="flex items-center mt-20">
        <div class="flex-1 flex justify-between text-center">
            <div class="flex-1 info__item space-y-6">
                <img class="w-14 object-contain mx-auto mb-5" src="/img/icons/meal.svg" alt="">
                <h3 class="font-medium text-2xl">Pick Meal</h3>
                <h4 class="w-72 mx-auto">Choose a meal from our diverse weekly menu.</h4>
            </div>
            <div class="flex-1 info__item space-y-6">
                <img class="w-14 object-contain mx-auto mb-5" src="/img/icons/document.svg" alt="">
                <h3 class="font-medium text-2xl">Checkout</h3>
                <h4 class="w-72 mx-auto">Fill address, all the necessary details and make payment.</h4>
            </div>
            <div class="flex-1 info__item space-y-6">
                <img class="w-14 object-contain mx-auto mb-5" src="/img/icons/motorcycle.svg" alt="">
                <h3 class="font-medium text-2xl">Fast Delivery</h3>
                <h4 class="w-72 mx-auto">Your freshly prepared 15-min
                    dinner kit arrive on your doorstep
                    in a refigerated box.</h4>
            </div>

        </div>

    </div>
</section>

<section id="menu">
    <h2 class="heading">Explore Our Best Menu</h2>
    <div class="mt-20 space-y-12">
        <% menu?.forEach((menuItems)=>{ %>
            <div class="menu__item shadow-xl rounded-xl mx-auto max-w-6xl p-12">
                <div class="flex items-center mb-12">
                    <img class="object-contain max-h-32" src="/img/menu/<%=menuItems.image %>" alt="">
                    <h3 class="uppercase menu__heading ml-12 font-semibold text-2xl">
                        <%= menuItems.category %>
                    </h3>
                </div>
                <div class="food__item">
                    <% menuItems.dishes.forEach((item)=>{ %>

                        <div class="flex items-center justify-between">
                            <div class="w-1/4"><span class="capitalize">
                                    <%= item.name %>
                                </span>
                            </div>
                            <div class="text-center food__item__price"><span class="font-semibold text-lg">$ <%=
                                        item.price %> </span></div>
                            <div class="text-center">
                                <div class="font-medium flex items-center space-x-4">
                                    <button data-item_id="<%= item._id %>"
                                        class="rounded-full item__increment hover:shadow-xl focus:outline-none text-2xl w-6 h-6 flex items-center justify-center">
                                        +
                                    </button>
                                    <span id="item-qty-<%= item._id %>">1</span>
                                    <button data-item_id="<%= item._id %>"
                                        class="rounded-full item__decrement hover:shadow-xl focus:outline-none text-2xl w-6 h-6 flex items-center justify-center">
                                        -
                                    </button>
                                </div>
                            </div>
                            <div class="text-center"><button data-item="<%= JSON.stringify(item) %>"
                                    class="btn btn__medium hover:shadow-xl flex items-center add__to__cart">
                                    <img class="object-contain w-6 mr-2" src="/img/icons/shopping-cart-white.svg"
                                        alt="shopping-cart-icon" />
                                    Add to cart
                                </button>
                            </div>
                        </div>

                        <% }) %>
                </div>
            </div>
            <% }) %>
    </div>
</section>

<section>
    <h2 class="heading">Our Customers can’t live Without us</h2>
    <div class="flex justify-evenly mt-20 italic">
        <div class="max-w-xs">
            <p>Zinger is just awesome! I just launched a
                startup which leaves me with no time for
                cooking, so Zinger is a life-saver. Now
                that I got used to it, I couldn't live without
                my daily meals!</p>
            <div class="flex items-center mt-8">
                <img class="object-fit object-center w-12 rounded-full mr-5" src="/img/reviews/customer-1.jpg" alt="">
                <span>Alberto Duncan</span>
            </div>
        </div>
        <div class="max-w-xs">
            <p>Inexpensive, healthy and great-tasting meals,
                delivered right to my home. We have lots of
                food delivery here in Lisbon, but no one comes
                even close to Zinger. Me and my family are
                so in love!</p>
            <div class="flex items-center mt-8">
                <img class="object-fit object-center w-12 rounded-full mr-5" src="/img/reviews/customer-2.jpg" alt="">
                <span>Joana Silva</span>
            </div>
        </div>
        <div class="max-w-xs">
            <p>I was looking for a quick and easy food
                delivery service in San Franciso. I tried
                a lot of them and ended up with
                Omnifood. Best food delivery service in
                the Bay Area. Keep up the great work!</p>
            <div class="flex items-center mt-8">
                <img class="object-fit object-center w-12 rounded-full mr-5" src="/img/reviews/customer-3.jpg" alt="">
                <span>Milton Chapman</span>
            </div>
        </div>
    </div>
</section>