<% if(result?.length){ %>
    <div class="search__result" id="menu">
        <div class="mt-20 space-y-12">
            <h2 class=" text-3xl text-center mb-20">Searched dish 🍲 found in 👇🏻 </h2>
            <% result.forEach((menuItems)=>{ %>
                <div class="menu__item shadow-xl rounded-xl mx-auto max-w-6xl p-12">
                    <div class="flex items-center mb-12">
                        <img class="object-contain max-h-32" src="img/menu/<%=menuItems.image %>" alt="">
                        <h3 class="uppercase menu__heading ml-12 font-semibold text-2xl">
                            <%= menuItems.category %>
                        </h3>
                    </div>
                    <div class="food__item">
                        <% menuItems.dishes.forEach((item)=>{ %>

                            <div class="flex items-center justify-between">
                                <div class="w-1/4"><span class="capitalize">
                                        <%= item.name %>
                                    </span>
                                </div>
                                <div class="text-center food__item__price"><span class="font-semibold text-lg">$ <%=
                                            item.price %> </span></div>
                                <div class="text-center">
                                    <div class="font-medium flex items-center space-x-4">
                                        <button data-item_id="<%= item._id %>"
                                            class="rounded-full item__increment hover:shadow-xl focus:outline-none text-2xl w-6 h-6 flex items-center justify-center">
                                            +
                                        </button>
                                        <span id="item-qty-<%= item._id %>">1</span>
                                        <button data-item_id="<%= item._id %>"
                                            class="rounded-full item__decrement hover:shadow-xl focus:outline-none text-2xl w-6 h-6 flex items-center justify-center">
                                            -
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center"><button data-item="<%= JSON.stringify(item) %>"
                                        class="btn btn__medium hover:shadow-xl flex items-center add__to__cart">
                                        <img class="object-contain w-6 mr-2" src="/img/icons/shopping-cart-white.svg"
                                            alt="shopping-cart-icon" />
                                        Add to cart
                                    </button>
                                </div>
                            </div>

                            <% }) %>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <% }else{ %>
        <div class="flex items-center justify-center heightFix w-full">
            <div class="text-center">
                <img class="object-contain w-24 mx-auto" src="/img/icons/sad.svg" alt="">
                <h3 class="text-3xl mt-10 mb-6 uppercase"> No dish found! </h3>
                <p>Try searching some other dish.</p>
            </div>
        </div>

        <% } %>